@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@theme{
    --font-heading : "Inter", sans-serif;
    --font-logo : "Cinzel", sans-serif;
}
html{
    scroll-behavior: smooth;
}